.Container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.newpaper{
    column-count: 3;
    column-rule: 1px solid black;
    column-gap:40px;
    column-span:all;
    column-width: 100%;
}