body {background-color:#f2f2f2}
	.city{
	color: white;
	background-color:#f44336;
	padding: 15px 25px;
	text-decoration:none;
	display:inline-block;
	}

	#id1 {
		font-size:120%;
		color:crimson;
		margin-left:100px;
		text-align: center;
		float :left;
		font-weight: bold;
		font-style: italic;
	}
	#id1::before{
		content:" ~ ";
	}
	#id1::after{
		content:" ~ ";
	}
	#id2{
		width: 10%;
		height: auto;
		float:left;
		border:1px solid black;
		margin-left:100px;
	}
	#id2 p{
		color:black;
		font-size:medium;
		padding-left:10px;
	}
	#id2:hover{
		background-color: white;
	}


	#id3{
		margin-bottom:100px;
	}
	.city:hover{
	background-color:red;
	}
	/*.clearfix{
		overflow:auto;
	}*/
	.clearfix::after{
		display:table;
		clear:both;
		content:"";
	}
	
	img.class1 {
	display:block;
	width: 30%;
	height: auto;
	margin-top: 100px;
	margin-left:auto;
	margin-right: auto;
	}	

	table {
	background-color:White;
	border-bottom : 1px solid black;
	border-top:1px solid black;
	border-collapse : collapse;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;

	}
	
	th{
	font-size : 70%;
	color:Red;
	padding :15px 25px ;
	border-bottom : 1px dotted black;
	border-left:1px dotted black;
	border-right: 1px dotted black;
	font-family : verdana;
	}
	td{
	font-size : 60%;
	color:black;
	padding : 15px 25px;
	border-bottom:1px dotted black;
	}
	tr:hover {
		background-color:bisque;
	}

	.myclass{
	margin-left : 300px;
	background-color : red;
	padding : 15px 25px;
	}
	
	ul.menu1 {
	width:100%;
	height: auto;
	background-color:#f2f2f2;
	list-style-type: none;
	}

	li.menu1 a {
	width: 10%;
	height:auto;
	color:white;
	text-align: center;
	padding:15px 25px;
	font-size:15px;
	background-color:#f44336;
	text-decoration: none;
	text-align: center;
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	}

	li.menu1 a:hover{
	background-color: red;
	}

	ul.menu2 {
	width: 100px;
	height:auto;
	padding:0;
	background-color: #f2f2f2;
	list-style-type: none;
	
	}
	
	li.menu2 p{
		background-color:#f44336 ;
		padding: 25px 30px;
		box-sizing: border-box;
		display: inline-block;
		color:black;
	}

	li.menu2 p:hover{
		background-color: red;
	}

	p.bordertest {
		margin-left:45%;
		margin-top: 50px;
	}

	p.bordertest a {
		color:black;
		font-size: 120%;
		padding : 20px 25px;
		text-decoration: none;	
		text-transform: uppercase;
		background-color: blanchedalmond;
	}

	p.bordertest a:hover{
		background-color : burlywood;
	}

	div.hovertest {
		width: 500px;
		height: 100px;
		border : 1px solid black;
		background-color:#f2f2f2 ;
	}
	div.hovertest:hover div{
		display :block;
	}

	div.aligntest {	
		border : 1px dotted black;
		width: 40%;
		height:auto;
		background-color: white;
		position:relative;
		left: 30%;
		overflow:auto;
		margin-top: 25%;

		/*text-align: justify;*/
	}

	div.aligntest p{
		margin-right: 10px;
		font-size:16px;
		float : left;
		text-align: justify;
		font-family: 'Times New Roman', Times, serif;
	}
	div.aligntest p::first-letter{
		color:red;
		font-family: 'Times New Roman', Times, serif;
		font-size:large;
	}
	div.aligntest img{
		float : left;
		width:20%;
		margin-right:10px;
		margin-left:5px;
	}

	div.aligntest img:hover{
		opacity:0.5;
	}

	
	div.testwidth{
		max-width: 300px;
		position:relative;
		left:200px;
		border : 1px dotted black;
		text-align: center;
		padding:10px;
		
	}

	div.testfloat{
		float:left;
		width:300px;
		height:200px;
		border: 1px solid black;
	}

	div.menu{
		width:100%;
		height: 75px;
		position: fixed;
		top:0;
		left:0;
		z-index: 1;

	}

	div.list {
		width: 265px;
		height: auto;
		margin-top:10%;
		margin-left:auto;
		margin-right:auto;
	}
	div.list ul{
		list-style-type: none;
		width:100%;
		height:auto;
	}

	div.list li{
		width: 200px;
		height: auto;
		border:1px solid #555;
		text-decoration: none;
	}

	div.list li:hover{
		background-color:#555;
		color:white;
	}

	#li.liactive {
		background-color:#f44336  ;
	}

	div.list li p {
		text-align: center;
		padding:1px 20px;

	}

	div.dropdown {
		width:10%;
		height: auto;
		position: relative;
		overflow: auto;
		margin-top:50px;
		margin-bottom: 400px;
		margin-left: auto;
		margin-right: auto;
	
	}
	.itemdropdown {
		padding:15px 25px;
		display:none;
		background-color: white;
		text-align: center;
		

	}
	.itemdropdown:hover{
		background-color: antiquewhite;
	}
	div.dropdown p:first-child{
		padding:15px 25px;
		border:1px solid black;
		background-color:#f44336;
		color:white;
		text-align: center;

	}
	div.dropdown:hover .itemdropdown{
		display:block;
	}
/*????doent work*/
	#img.sprites1 {
		width:100px;
		height:100px;
		background :url(https://i.pinimg.com/564x/da/0a/58/da0a587bb67366b86484113c7d7f3fc6.jpg) 0 0 ;
	}
/*????*/

.search{
	width: 40px;
	border : 1px solid black;
	border-radius: 10px;
	padding: 15px 20px 15px 45px;
	margin-left: 150px;
	float : left;
	outline :none;
	border: 1px dotted #f44336;
	transition: width 0.4s ease-in-out;

	background-image: url(https://www.svgrepo.com/show/157848/search.svg);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

.search:focus{
	border: 1px solid red ;
	width:150px;
}



/*Responsive*/

.container{
	width:50%;
	height:auto;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:500px;
}


.col-25 {
	width: 25%;
	float:left;
	margin-top:30px;
	margin-left: 5px;
}


.col-75{
	width:50%;
	float:left;
	margin-top:20px;
	padding:10px 10px;
	outline: none;

}

textarea.col-75 {
	width:50%;
	height: 100px;
	float:left;
	margin-top:20px;
	padding:10px;
	outline: none;
	resize: none;
}

select.col-75{
	background-color:#f1f1f1;
	border: none;
	border-radius: 5px;
	outline: none;

}

select.col-75 option{
	border:none;
	outline: none;
}

label.btnsubmit{
	width:25%;
	height:auto;
	margin-top:40px;
	margin-bottom: 30px;
	position: relative;
	left:30%;
	float:left
}
label.btnsubmit a{
	text-align: center;
	color:white;
	padding:15px 25px;
	background-color: #f44336;
	width: 70px;
	height: auto;
	margin-left: 40%;
}

label.btnsubmit a:hover{
	background-color: red;
}


.row::after {
	content: "";
	display: table;
	clear: both;
}


/*Responsive*/

