.divtrans{
    width:500px;
    margin-top: 40px;
    clear:left;
}


.translt{
width:50px;
height:50px;
margin-top: 15%;
background-color:crimson ;
margin-left: 30px;
transition:width 2s,height 2s,transform 2s;
clear:left;
}

.translt:hover{
width:200px;
height:200px;
transform: rotate(90deg);
}