
*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

:root{
    --DodgerBlue : 	rgb(30, 144, 255);
}

.menu-bar{
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    flex-flow: row wrap;
    z-index: -1;
    
}

.logo{
width: 80px;
height: 80px;
border-right: 1px solid rgb(0,0,0,0.2);
position: relative;
}
.logo img{
    width: 50px;
    margin : 15px;
    
}

#clock{
    position: relative;
    left : 2%;
}

.menu-bar input{
    position: relative;
    margin : 12px;
    outline: none;
    padding : 15px 15px 15px 30px;
    border-radius: 40px;
    border : 1px rgb(0,0,0,0.2) solid;
    width: 100px;
    height: 50px;
    left: 10%;
    transition: width 1s;
    background-image: url(https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 15px;
}

.menu-bar input:focus{
    width: 400px;
}

.darklight{
    position: absolute;
    margin : 15px;
    border-radius: 30px;
    left: 90%;
    background-color: rgb(242, 242, 242);
    z-index: 1;
    display: flex;
    flex-flow: row wrap;

}

.darklight:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonBackground{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color:var(--DodgerBlue) ;
    left: 0%;
    transition: left 2s,background-color 2s;
}

#buttonLight{
width: 55px;
height: 55px;
border-radius: 50px;
border :none;
background-image: url(https://cdn-icons-png.flaticon.com/512/77/77343.png);
background-position: 10px;
background-size: 30px 30px;
background-repeat: no-repeat;
background-color: white;
transition: background-color 2s;

}

#buttonDark{
width: 55px;
height: 55px;
border-radius: 50px;
border : none;
background-image: url(https://cdn-icons-png.flaticon.com/512/276/276017.png);
background-position: 10px;
background-size: 30px 30px;
background-repeat: no-repeat;
transition: background-color 2s;
}

.darkmode{
    background-color: #121212;
    color : white;
    *{
        color:white;
    }
    transition: background-color 1s;
}

.lightmode{
    background-color: white;
    color : black;
    transition: background-color 1s;  
}





.menu-column{
position: relative;
width: 300px;
border-right: 1px solid rgb(0,0,0,0.2);
display: flex;
flex-flow: column wrap;
}

.menu-item{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 20px;
    border: none;
    background: none;
    width: 250px;
}

.menu-item:hover{
background-color: rgb(0,0,0,0.1);
}

.menu-item p{
    margin-left: 35px;
    font-size: 100%;
}

.menu-icon{
    position : relative;
    width : 25px;
    height : 25px;
    left : 25px;
}